@media (min-width: 1240px) {
  body .lq6YfGxk {
    width: 72px;
    background: url("@/assets/images/logo-horizont-dark.svg") no-repeat;
    background-position: 50%;
    background-size: 72px 28px;
    left: 32px;
  }
}

.uz1VJwFY.lq6YfGxk {
  position: fixed;
  top: 0;
  height: 50px;
}
