:root {
  --primary-color: #409eff;
  --success-color: #67c23a;
  --warning-color: #e6a23c;
  --error-color: #f56c6c;
  --info-color: #909399;
  --border-color: #ebeef5;
  --background-color: #f5f7fa;
  --white: #fff;
  --black: #000;
  --font-color: #303133;
  --font-color-light: #606266;
  --font-color-lighter: #909399;
  --font-color-lightest: #d4d9e2;
  --font-size-base: 14px;
  --font-size-sm: 12px;
  --font-size-lg: 16px;
  --border-radius-base: 4px;
  --border-radius-sm: 2px;
  --border-radius-md: 4px;
  --border-radius-lg: 6px;
  --padding-base: 15px;
  --padding-sm: 10px;
  --padding-lg: 20px;
  --margin-base: 15px;
  --margin-sm: 10px;
  --margin-xs: 5px;
  --margin-lg: 20px;
  --line-height-base: 1.5;
  --line-height-sm: 1.33;
  --line-height-lg: 1.67;
}

html.dark {
  --primary-color: #409eff;
  --success-color: #67c23a;
  --warning-color: #e6a23c;
  --error-color: #f56c6c;
  --info-color: #909399;
  --border-color: #373737;
  //--background-color: #1d1d1d;
  --background-color: #161823;
  --white: #fff;
  --black: #000;
  --font-color: #ffffff;
  --font-color-light: #e0e0e0;
  --font-color-lighter: #a0a0a0;
  --font-color-lightest: #7d7d7d;

  --color-line-l3: rgba(255,255,255, 0.04);
  --color-text-t0: rgba(255,255,255, 1);
  --color-text-t2: rgba(255,255,255, .75);
  --color-text-t3: rgba(255,255,255, .6);
  --color-fill-hover-alpha10: rgba(242,242,244,0.1)
}


